<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.css" rel="stylesheet">
    </link>
    <link href="/css/style.css" rel="stylesheet">
    </link>
    <title>No users</title>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div>
        <a class="navbar-brand" href="/main">VMS Project</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 colxxx sidebar">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/main">Группы в БД</a></li>
                <li><a href="/post/news">Посты</a></li>
                <li><a href="/showgroups">Поиск групп</a></li>
                <!--<li><a href="/city/search">Поиск пользователей</a></li>-->
                <li><a href="/post/blacklisturl">Чёрные списки</a></li>
                <li><a href="/properties">Настройки</a></li>
            </ul>
        </div>
        <div class=" col-md-9 fixed ">
            <h2 class="sub-header">Ошибка! Найденных пользователей в ВКонтакте: 0</h2>

            <div>
                <br/>
                <h4>
                    В базе данных нет пользователей, по которым должен проходить сбор поствов.
                </h4>
            </div>
            <br/>
            <div>
                <a class="btn btn-primary" href="/city/search">Провести поиск пользователей ВК</a>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="application/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>