<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet"></link>
    <link href="/css/style.css" rel="stylesheet"></link>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
</head>

<body>

<div class="navbar navbar-inverse" role="navigation">
    <div>
        <a class="navbar-brand" href="/main">VMS Project</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 colxxx sidebar">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/main">Группы в БД</a></li>
                <li><a href="/post/news">Посты</a></li>
                <li><a href="/showgroups">Поиск групп</a></li>
                <li><a href="/city/search">Поиск пользователей</a></li>
                <li><a href="/post/blacklisturl">Чёрные списки</a></li>
                <li><a href="/properties">Настройки</a></li>
            </ul>
            <button type="button" class="btn btn-primary dark-button-primary">Всего постов <span th:text="${#lists.size(blackListURL)}" class="badge"> </span></button>        </div>
        <div class=" col-md-9 fixed ">
            <h2 class="sub-header">Черный список URL</h2>

            <div th:if="${param.warning != null}">
                <div class="alert alert-danger">
                    <label>Проверьте Proxy Servers</label>
                </div>
            </div>

            <div th:if="${param.postInGroupDanger != null}">
                <div class="alert alert-danger">
                    <label>Произошла ошибка при отправке поста в группу.</label>
                </div>
            </div>

            <div th:if="${param.postInGroupSuccess != null}">
                <div class="alert alert-success">
                    <label>Пост был успешно отправлен в группу.</label>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="active"><a href="/post/blacklisturl">URL</a></li>
                <li><a href="/post/blacklistphone">Номеров телефонов</a></li>
                <li><a href="#">Слов</a></li>
            </ul>
            <div class="tab-content boxShadow3 bg-tab">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <th>URL/ID</th>
                        <th>Убрать из списка</th>
                    </tr>
                    <tr th:each="post : ${blackListURL}">
                        <td><p th:text="${post.from_id}"></p></td>
                        <form th:action="@{/post/controlblacklist}" th:object="${post}" method="post">
                            <input class="hide-param" name="idBlackList" th:value="${post.id}"/>
                            <td><input type="submit" class="btn btn-danger" value="Удалить"/></td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/style.js"></script>
</body>
</html>