<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    </link>
</head>

<body>
<div class="container">
    <form class="form-signin" name='loginForm' th:action="@{/login}" method='POST'>
        <h3>Авторизуйтесь</h3>
        <input class="form-control" placeholder="Логин" type="text" name="username"/>
        <input class="form-control" placeholder="Пароль" type="password" name="password"/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>