<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet"> </link>
</head>

<body>

<div class="navbar navbar-inverse" role="navigation">
    <div>
        <a class="navbar-brand" href="#">vms Project</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 colxxx sidebar">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/main">Groups for search </a></li>
                <li><a href="/posts">Post from VK groups</a></li>
            </ul>
        </div>
        <div class=" col-md-9 fixed " style="outline: 0.1px solid #000; ">
            <h2 class="sub-header">Groups for search</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Users table</a></li>
                <li><a data-toggle="tab" href="#panel2">Add group</a></li>
            </ul>
            <div class="tab-content boxShadow3 bg-tab">
                <table class="table table-row-cell">
                    <tr>
                        <th>Id</th>
                        <th>Photo</th>
                        <th>Text</th>
                        <th>Link</th>
                        <th>Post</th>
                        <th>Delete</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>