<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    </link>
</head>

<body>

<div class="navbar navbar-inverse" role="navigation">
    <div>
        <a class="navbar-brand" href="#">VMS Project</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 colxxx sidebar">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/main">Группы в БД</a></li>
                <li><a href="/post/">Посты из групп ВК</a></li>
                <li><a href="/showgroups">Поиск групп</a></li>
                <li><a href="/city/search">Поиск пользователей</a></li>
                <li><a href="/properties">Настройки</a></li>
            </ul>
        </div>
        <div class=" col-md-9 fixed ">
            <h2 class="sub-header">Настройки</h2>

            <div th:if="${param.duplicate != null}">
                <div class="alert alert-danger">
                    <label>Настройки с таким ключом уже существуют.</label>
                </div>
            </div>

            <div th:if="${param.hasNull != null}">
                <div class="alert alert-danger">
                    <label>Все поля должны быть заполнены.</label>
                </div>
            </div>


            <ul class="nav nav-tabs">
                <li class="active"><a href="/properties">Основные</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Прокси
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/properties/proxy">Для поиска по людям</a></li>
                        <li><a href="/properties/proxy/group">Для поиска по группам</a></li>
                        <li><a href="#">что то ещё вдруг...</a></li>
                    </ul>
                </li>
                <li><a href="/properties/extra">Доп. настройки</a></li>
            </ul>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th></th>
                    <th>ключ</th>
                    <th>значение</th>
                    <th>действия</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="property : ${properties}">
                    <form th:action="@{/properties/update}" th:object="${property}" method="post">
                        <td><input type="hidden" name="id" th:value="${property.id}"/></td>
                        <td><input type="text" name="name" th:value="${property.name}"/></td>
                        <td><input type="text" name="value" th:value="${property.value}"/></td>
                        <td><input type="submit" class="btn btn-default" value="Изменить"/></td>
                    </form>
                    <form th:action="@{/properties/delete}" th:object="${property}" method="post">
                        <td><input type="hidden" name="id" th:value="${property.id}"/></td>
                        <td><input type="submit" class="btn btn-default" value="Удалить"/></td>
                    </form>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addProperty">Добавить
            </button>
        </div>
    </div>
</div>

<!-- Modal Add Property -->
<div class="modal fade" id="addProperty" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Новые настройки</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{properties/add}" th:object="${property}" method="post">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><input type="text" th:field="*{name}"/></td>
                            <td><input type="text" th:field="*{value}"/></td>
                        </tr>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-default" value="Добавить"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>