<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" rel="stylesheet"> </link>
    <link href="/css/style.css" rel="stylesheet"> </link>
    <title>Search is</title>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div>
        <a class="navbar-brand" href="#">VMS Project</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 colxxx sidebar">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/main">Группы в БД</a></li>
                <li><a href="/post/">Посты из групп ВК</a></li>
                <li><a href="/showgroups">Поиск групп</a></li>
                <li><a href="/city/search">Поиск пользователей</a></li>
                <li><a href="/properties">Настройки</a></li>
            </ul>
        </div>
        <div class=" col-md-9 fixed ">
            <h2 class="sub-header">Поиск пользователей</h2>

            <div>
                <h4>
                    Запущен поиск пользователей в выбранном населённом пункте в фоновом режиме...</h4>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="application/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
